ai-email-approval-workflow-n8n-cleaned.json
{
  "name": "AI Email Approval Workflow - n8n Portfolio Demo",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is the email that we received: {{ $json.snippet }}",
        "options": {
          "systemMessage": "You are an executive assistant managing the inbox of a high-level CEO of a large company. Your goal is to read incoming emails and draft a suitable email reply based on the content provided.\n\nAs input, you will receive the email details. Your job is to output only the email reply draft.\n\nMake sure the reply is:\n\nConcise\nProfessional\nWitty where appropriate\nClear and easy to understand\nFormatted in plain text\nEasily pasteable into Gmail\n\nDo not include explanations, notes, or extra comments. Only provide the final email reply draft.\n\nDo not invent information that is not available in the email. If important details are missing, ask for clarification politely within the reply.\n\nMake sure that each email is written in first person and starts with a “Hey” greeting followed by the recipient’s first name."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "f9e4ccbb-658c-4f14-8608-d3ba0f624a72",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "6550ad1d-2066-4298-b2d9-86b5f9421904",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAIAPI_CREDENTIAL_ID",
          "name": "YOUR_OPENAIAPI_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "4f1a0a25-b68a-42a1-b26d-23cc323b43db",
      "name": "New Email received",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAILOAUTH2_CREDENTIAL_ID",
          "name": "YOUR_GMAILOAUTH2_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.threadId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        224,
        208
      ],
      "id": "ee0cf10b-9470-4c25-8d6a-dd974fbfe42f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "YOUR_GOOGLE_SHEET_NAME"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        368,
        208
      ],
      "id": "12137009-4d0f-4f2a-825c-6cd1d66ccfe7",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLESHEETSOAUTH2API_CREDENTIAL_ID",
          "name": "YOUR_GOOGLESHEETSOAUTH2API_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "46f06fbb-6d3e-4b89-a13d-432ff0c66917",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        752,
        16
      ],
      "id": "e8a907ea-555a-4ced-b643-f1c4a5f1082f",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "your-slack-channel"
        },
        "message": "=👋 Hey team,\n\n📩 *New email received*\n\n*Here’s the email we just received:*\n\n> {{ $('New Email received').item.json.snippet }}\n\n✍️ *Suggested reply:*\n`{{ $json.output }}`\n\n✅ Let me know if you want to send this out, or we can leave it for now :)\n\n",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        544,
        16
      ],
      "id": "53abcec4-0381-4e35-8ab6-9c2df4d19bb0",
      "name": "Slack Approval: message sent",
      "credentials": {
        "slackOAuth2Api": {
          "id": "YOUR_SLACKOAUTH2API_CREDENTIAL_ID",
          "name": "YOUR_SLACKOAUTH2API_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "your-email@example.com",
        "subject": "AI Draft Reply Approved",
        "emailType": "text",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        992,
        0
      ],
      "id": "3c05f862-b224-4d1a-b5df-a9197e7ca535",
      "name": "Email Reply Sent",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAILOAUTH2_CREDENTIAL_ID",
          "name": "YOUR_GMAILOAUTH2_CREDENTIAL_NAME"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Slack Approval: message sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Email Reply Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Approval: message sent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Email received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "nodeGroups": [],
  "tags": []
}